.contact {
  display: none;
  @include tablet {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  &__link {
    display: flex;
    align-items: center;
    color: getColor('text-color-secondary');
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.02em;

    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include desktop {
      font-size: 14px;
    }
    &:hover,
    &:focus {
      color: getColor('brand-color');
      fill: getColor('brand-color');
    }
  }
  &__icon {
    fill: getColor('text-color-secondary');
    margin-right: 10px;
    display: block;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover &__icon,
  &__link:focus &__icon {
    color: getColor('brand-color');
    fill: getColor('brand-color');
  }
}
