.header {
  border-bottom: 1px solid #ececec;

  > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 15px;
    @include tablet {
      padding: 21px 15px;
    }
    @include desktop {
      padding: 24px 15px;
    }
  }
}
